 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

body {
    font-family: 'Lora', serif;
    line-height: 1.6;
    color: #333;
    background: linear-gradient(to bottom, #ffffff, #f4f4f4, #e0e0e0, #cccccc, #ffffff);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
}

header {
    background: transparent;
    padding: 20px 0;
}

header h1 {
    float: left;
    margin-left: 20px;
}

section {
    padding: 60px 0;
    color: #333;
    position: relative;
}

@media (max-width: 768px) {
    section {
        padding: 40px 20px;
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    height: 50px;
    width: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f0a500;
}

.back-to-top {
    display: inline-block;
    margin-top: 20px;
    background-color: transparent;
    color: #a9a9a9;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.back-to-top:hover {
    background-color: transparent;
    color: #0f0c0c;
    text-decoration-line: #322323;
}

.responsive-img {
    width: 100%;
    height: auto;
    max-width: 100%; 
    border-radius: 10px; 
}

.main {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(254, 254, 254, 0.5));
    padding: 100px 0;
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.main img.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#about {
    background: linear-gradient(to bottom, rgba(254, 254, 254, 0.5), rgba(249, 249, 249, 0.5));
}

#projects {
    background: linear-gradient(to bottom, rgba(249, 249, 249, 0.5), rgba(244, 244, 244, 0.5));
}

#experiences {
    background: linear-gradient(to bottom, rgba(244, 244, 244, 0.5), rgba(239, 239, 239, 0.5));
}

#skills {
    background: linear-gradient(to bottom, rgba(239, 239, 239, 0.5), rgba(234, 234, 234, 0.5));
}

#contact {
    background: linear-gradient(to bottom, rgba(234, 234, 234, 0.5), rgba(229, 229, 229, 0.5));
}

.about, .projects, .contact {
    padding: 60px 0;
}

.about p, .projects p, .contact p {
    font-size: 1.1em;
    line-height: 1.8;
}

.projects {
    background-color: #f8f8f8;
    padding: 80px 0;
}

.section-title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Lora', serif;
    color: #D8C3A5;
    letter-spacing: 2px;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.project-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.project-item:hover {
    transform: translateY(-10px);
}

.project-img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.project-title {
    font-size: 1.5em;
    margin-top: 20px;
    color: #333;
}

.project-description {
    font-size: 1.1em;
    color: #555;
    margin-top: 10px;
    line-height: 1.6;
}

.project-date {
    margin-top: 15px;
    font-size: 0.9em;
    color: #999;
}

.skills {
    padding: 80px 0;
    background-color: #f8f8f8;
    text-align: center;
}

.section-title {
    font-size: 3em;
    color: #D8C3A5;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.section-subtitle {
    font-size: 1.5em;
    color: #999;
    margin-bottom: 40px;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
}

@media (max-width: 768px) {
    .skills-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .skills-list {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .experience-section {
        padding: 20px;
    }

    .responsive-img {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .experience-section {
        padding: 10px;
    }

    .responsive-img {
        width: 100%;
    }
}

.skill-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.skill-item:hover {
    transform: translateY(-10px);
}

.skill-icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 15px;
}

.skill-item p {
    font-size: 1.1em;
    color: #333;
    margin: 0;
}


.contact .social-links {
    margin-top: 20px;
}

.contact .social-links li {
    display: inline;
    margin-right: 15px;
}

.contact .social-links a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
